.section {
  height: 100vh;
  padding: 70px;
  margin: 0px;
  width: 100%;
  vertical-align: bottom;
}

.background{
  background-image: url("images/wallpaper.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-1 {
	background-color: rgba(188, 163, 213, 0.6);
}

.bg-2 {
	background-color: #1abc9c;
  /*color: #ffffff;*/
  }

.bg-3 {
  background-color: black;
  /*color: #555555;*/
}

.navbar {
	background-color: #474e5d;
  padding: 15px 0px 15px 0px;
  border: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 2px;
}


.sidenav {
  padding: 0px;
}

.sidenav ul li.active a{
  border-width: 1px 5px 1px 0px;
  border-color: black;
  border-style: solid;
}

.sidenav ul li {
  margin: 0px;
}

.sidenav ul li a{
  border-radius: 0px;
}

.content {
  padding: 0px;
}
