html {
	max-width: 1280px;
	font-family: Verdana;
	margin: auto;
	color: black;
	background-color: #333333;
}

body{
min-width: 350px;
padding: 20px;
background-color: #FFFFFF;
}

nav {
	border: 1px solid black;
	padding-left: 30px;
	padding-bottom: 20px;
	background-image: url(images/american-flag.jpg);
	background-size: 100%;
	color: white;
}

fieldset {
	margin-top: 20px;
	padding: 10px;
	width: 80%;
}
.cat-pics {
	display: inline-block;
/*	position: relative;*/
	padding: 20px;
	border: 1px solid black;
	margin: 10px;
	max-width: 500px;
}

.cat-pics img {
	width: 100%;
	height: auto;
}

#about-me {
	border: 1px solid black;
	margin-top: 20px;
	padding: 20px;
}

a:visited { 
    color: green;
}