// Global Sass variables
$primary-color: black;
$secondary-color: black;
$tertiary-color: black;
$room-bg: white;
$door-bg: white;
$handle-color: black;
$bezel-color: black;

// Dimensions
$line-width: 2px;
$thick-line-width: 3px;
$door-width: 60px;
$door-height: 80px;
$handle-size: 4px;
$bezel-width: 1px;
